@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --color-black: #000000;
  --color-dark-gray:#1C1C22;
  --color-light-gray: #DADAE5;
  --color-white: #FFFFFF;
  --color-medium-gray: #8D8D99;
  --color-midnight-gray: #2B2B33;
  --color-mint-green: #98F2E2;



  /* Color Uses */
  --main-app-bg: var(--color-black);
  --secondary-background: var(--color-dark-gray);
  --main-app-text: var(--color-light-gray);

  --secondary-text-color: var(--color-medium-gray);
  --body-text-color: var(--color-medium-gray);
  --toggle-background-color: var(--color-midnight-gray);
  --toggle-circle-color: var(--color-mint-green);

}

