@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --color-black: #000000;
  --color-light-black: #121215;
  --color-dark-gray:#1C1C22;
  --color-light-gray: #DADAE5;
  --neutral-gray: #BBBBC7;
  --color-white: #FFFFFF;
  --color-neutral-light: #DDDDE9;
  --color-medium-gray: #8D8D99;
  --color-midnight-gray: #2B2B33;
  --color-mint-green: #98F2E2;
  --color-graphite-gray: #24242B;
  --color-light-gray-blue: #D2D2DB;
  --color-neutral-dark: #3C3C47;
  --color-blue: #41AAFF;



  /* Color Uses */
  --main-app-bg: var(--color-black);
  --secondary-background: var(--color-dark-gray);
  --modal-background: var(--color-light-black);
  --main-app-text: var(--color-light-gray);
  --secondary-text-color: var(--color-medium-gray);

  --body-text-color: var(--color-medium-gray);
  --icon-color: var(--neutral-gray);
  --icon-hover-color: var(--color-neutral-light);
  --border-color: var(--color-graphite-gray);

  --button-text-color: var(--color-medium-gray);
  --button-hover-text-color: var(--color-light-gray-blue);
  --button-background-color: var(--color-dark-gray);
  --button-hover-background-color: var(--color-graphite-gray);
  --button-border-active: var(--color-blue);

  --toggle-background-color: var(--color-midnight-gray);
  --toggle-button-on-background: var(--color-mint-green);
  --toggle-button-off-background: var(--color-neutral-dark);

  --modal-max-height: 512px;
  --modal-max-width: 743px;
  --settings-right-col-width: 527px;
  --notification-col-width: 340px;

}

